In [1128]:
import pandas as pd
import warnings
df=pd.read_csv("cardio_train.csv",sep=";")

In [1129]:
warnings.filterwarnings('ignore')

In [1130]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [1131]:
df.to_csv("cardio1.csv",index=False)

In [1132]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [1133]:
df["weight"]=df["weight"].astype(int)

In [1134]:
df["age"]=df["age"]/365

In [1135]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50.391781,2,168,62,110,80,1,1,0,0,1,0
1,1,55.419178,1,156,85,140,90,3,1,0,0,1,1
2,2,51.663014,1,165,64,130,70,3,1,0,0,0,1
3,3,48.282192,2,169,82,150,100,1,1,0,0,1,1
4,4,47.873973,1,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,52.712329,2,168,76,120,80,1,1,1,0,1,0
69996,99995,61.920548,1,158,126,140,90,2,2,0,0,1,1
69997,99996,52.235616,2,183,105,180,90,3,1,0,1,0,1
69998,99998,61.454795,1,163,72,135,80,1,2,0,0,0,1
69999,99999,56.273973,1,170,72,120,80,2,1,0,0,1,0

In [1136]:
df['age'] = df['age'].round().astype(int)

In [1137]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,168,62,110,80,1,1,0,0,1,0
1,1,55,1,156,85,140,90,3,1,0,0,1,1
2,2,52,1,165,64,130,70,3,1,0,0,0,1
3,3,48,2,169,82,150,100,1,1,0,0,1,1
4,4,48,1,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,2,168,76,120,80,1,1,1,0,1,0
69996,99995,62,1,158,126,140,90,2,2,0,0,1,1
69997,99996,52,2,183,105,180,90,3,1,0,1,0,1
69998,99998,61,1,163,72,135,80,1,2,0,0,0,1
69999,99999,56,1,170,72,120,80,2,1,0,0,1,0

In [1138]:
df["gender"]=df["gender"].map({2:1,1:0})

In [1139]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,1,168,62,110,80,1,1,0,0,1,0
1,1,55,0,156,85,140,90,3,1,0,0,1,1
2,2,52,0,165,64,130,70,3,1,0,0,0,1
3,3,48,1,169,82,150,100,1,1,0,0,1,1
4,4,48,0,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0
69996,99995,62,0,158,126,140,90,2,2,0,0,1,1
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0

In [1140]:
#df.drop(df[(df['height'] > df['height'].quantile(0.98)) | (df['height'] < df['height'].quantile(0.02))].index,inplace=True)
#df.drop(df[(df['weight'] > df['weight'].quantile(0.98)) | (df['weight'] < df['weight'].quantile(0.02))].index,inplace=True)

In [912]:
#df.drop(df[(df['ap_hi'] > df['ap_hi'].quantile(0.98)) | (df['ap_hi'] < df['ap_hi'].quantile(0.02))].index,inplace=True)
#df.drop(df[(df['ap_lo'] > df['ap_lo'].quantile(0.98)) | (df['ap_lo'] < df['ap_lo'].quantile(0.02))].index,inplace=True)

In [1055]:
for i in ['height','weight','ap_hi','ap_lo','age']:
    mean = df[i].mean()
    std = df[i].std()
    below_outlier = mean - 3*std
    above_outlier = mean + 3*std
    df = df[(df[i]>=below_outlier) & (df[i]<=above_outlier)]

In [914]:
'''for c in ['height','weight','ap_hi','ap_lo','age']:
    q3 = df[c].quantile(0.75)
    q1 = df[c].quantile(0.25)
    iqr = q3 - q1
    upper = q3 + 3 * iqr
    lower = q1 - 3 * iqr
    mean = df[i].mean()
    std = df[i].std()
    below_outlier = mean - 3*std
    above_outlier = mean + 3*std
    df = df[(df[c]>=lower) & (df[c]<=upper)]'''

"for c in ['height','weight','ap_hi','ap_lo','age']:\n    q3 = df[c].quantile(0.75)\n    q1 = df[c].quantile(0.25)\n    iqr = q3 - q1\n    upper = q3 + 3 * iqr\n    lower = q1 - 3 * iqr\n    mean = df[i].mean()\n    std = df[i].std()\n    below_outlier = mean - 3*std\n    above_outlier = mean + 3*std\n    df = df[(df[c]>=lower) & (df[c]<=upper)]"

In [915]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,1,168,62,110,80,1,1,0,0,1,0
1,1,55,0,156,85,140,90,3,1,0,0,1,1
2,2,52,0,165,64,130,70,3,1,0,0,0,1
3,3,48,1,169,82,150,100,1,1,0,0,1,1
4,4,48,0,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69994,99992,58,0,165,80,150,80,1,1,0,0,1,1
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0

In [705]:
#df["bmi"] = df["weight"] / (df["height"]/100)**2

In [916]:
df["age"].value_counts()

age
56    5867
54    5830
58    5532
60    5301
52    5148
50    5122
62    3821
64    3805
48    3108
46    2885
44    2760
40    2631
42    2568
55    1465
57    1408
53    1367
59    1313
51    1312
61    1186
49    1032
63     990
45     743
41     741
47     731
43     665
39     394
65     342
Name: count, dtype: int64

In [939]:
df[df["height"]<100].value_counts()

id     age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  alco  active  cardio
309    60   1       76      55      120    80     1            1     0      0     1       0         1
41661  52   0       60      69      110    70     1            1     0      0     0       0         1
93223  51   0       99      60      90     60     1            1     0      0     1       0         1
92008  58   0       66      63      12     80     1            1     0      0     0       1         1
91523  50   0       59      57      125    67     1            1     0      0     0       0         1
79917  58   0       96      59      90     60     1            1     0      0     1       1         1
76116  56   1       67      80      120    80     1            1     0      0     0       1         1
73386  42   1       70      69      120    80     1            1     0      0     0       0         1
72476  40   1       67      60      110    80     1            1     1      1     1       0         1
67631  64   0       75      75      120    80     1            1     0      0     1       0         1
66161  58   1       68      71      120    80     1            1     0      0     1       0         1
63545  52   0       65      60      120    80     1            1     0      0     1       0         1
48009  54   1       65      72      130    80     1            1     0      0     0       0         1
45832  42   0       72      74      150    90     1            1     0      0     1       1         1
41075  54   0       91      55      140    90     1            1     0      0     1       1         1
10843  40   1       70      72      120    8      1            1     0      0     1       0         1
39462  57   0       64      61      130    70     1            1     0      0     1       0         1
39156  42   0       80      178     140    90     3            3     0      0     1       1         1
34186  52   0       81      156     140    90     1            1     0      0     1       0         1
32456  64   0       55      81      130    90     1            1     0      0     1       1         1
32207  40   0       68      65      100    60     1            1     0      0     0       0         1
24690  48   0       98      45      12     80     1            1     0      0     1       0         1
23859  54   1       74      98      140    90     1            1     0      0     1       1         1
21686  43   0       70      68      120    80     1            1     0      0     0       0         1
20459  60   0       67      57      120    90     1            1     0      0     1       1         1
18928  62   1       71      68      120    80     3            1     0      0     1       0         1
18218  54   0       75      168     120    80     1            1     1      0     1       1         1
11662  48   1       97      170     160    100    1            1     1      0     1       1         1
95141  52   0       57      61      130    90     1            1     0      0     1       1         1
Name: count, dtype: int64

In [940]:
df[df["height"]>100]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,1,168,62,110,80,1,1,0,0,1,0
1,1,55,0,156,85,140,90,3,1,0,0,1,1
2,2,52,0,165,64,130,70,3,1,0,0,0,1
3,3,48,1,169,82,150,100,1,1,0,0,1,1
4,4,48,0,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0
69996,99995,62,0,158,126,140,90,2,2,0,0,1,1
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0

In [941]:
df[df["weight"]>150].value_counts()

id     age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  smoke  alco  active  cardio
552    46   1       165     169     120    80     1            1     0      0     1       0         1
78159  62   1       177     160     170    110    3            3     0      0     1       1         1
50043  64   0       170     152     200    140    1            3     0      0     1       1         1
52564  54   0       161     181     180    1100   2            1     0      0     1       1         1
53670  55   0       162     175     140    1000   1            1     0      0     1       1         1
58175  60   0       154     162     120    80     1            1     0      0     1       0         1
59768  56   0       164     164     140    90     3            3     0      0     1       1         1
60631  53   0       160     155     120    80     1            1     0      0     1       1         1
64802  54   0       104     159     200    100    3            1     0      0     0       1         1
64829  48   1       190     180     140    80     2            2     0      0     1       1         1
66494  56   0       160     158     150    90     1            1     0      0     1       1         1
70222  54   1       174     168     125    90     2            1     0      1     1       0         1
71945  41   1       180     200     150    90     1            1     0      0     1       1         1
72770  60   0       170     152     220    120    3            1     0      0     0       0         1
80152  43   1       170     171     120    80     1            1     0      0     1       1         1
41534  40   1       180     164     120    80     2            3     0      0     1       0         1
80523  59   0       164     160     130    90     2            2     0      0     1       1         1
83462  40   1       178     170     150    105    1            1     1      0     1       1         1
83932  60   0       170     170     120    80     1            1     0      0     1       1         1
85128  48   0       104     165     120    80     1            1     0      0     1       0         1
86506  52   1       180     180     140    100    3            1     0      0     1       1         1
87498  57   1       180     183     110    80     3            3     0      1     1       1         1
87612  46   1       196     180     130    80     3            1     0      0     1       1         1
88220  52   1       165     178     120    80     1            1     0      0     1       0         1
90930  64   0       154     155     170    80     2            1     0      0     1       0         1
91284  58   0       164     164     120    80     1            1     0      0     1       0         1
92301  59   0       169     172     120    70     2            1     0      0     1       0         1
92778  58   0       176     154     140    80     1            1     0      0     1       1         1
49413  42   1       174     165     120    90     1            2     0      1     1       0         1
39156  42   0       80      178     140    90     3            3     0      0     1       1         1
618    46   0       186     200     130    70     1            1     0      0     0       0         1
20750  60   0       170     165     120    80     1            1     0      0     1       0         1
3438   53   1       177     177     130    90     1            1     0      0     1       1         1
3470   65   1       159     165     130    70     1            1     0      0     0       0         1
4672   48   0       155     155     160    1000   1            1     0      0     1       1         1
4825   40   0       159     159     100    80     1            1     0      0     1       0         1
6716   47   1       176     180     140    90     1            1     0      0     1       1         1
8526   40   0       172     166     140    90     1            1     0      0     1       1         1
8757   58   0       122     161     120    80     1            1     0      0     1       1         1
10899  44   1       183     154     160    120    1            1     1      0     1       1         1
11662  48   1       97      170     160    100    1            1     1      0     1       1         1
12020  40   0       170     165     120    80     1            1     0      0     1       0         1
17757  60   0       137     161     150    100    2            1     0      0     0       1         1
18218  54   0       75      168     120    80     1            1     1      0     1       1         1
20970  58   0       159     153     120    80     1            1     0      0     1       1         1
35738  52   0       174     158     140    90     2            2     1      0     1       0         1
21958  48   0       125     167     180    90     1            2     0      0     1       1         1
22413  54   1       182     156     160    100    1            1     0      0     1       1         1
23402  49   1       170     156     150    90     1            3     0      0     0       0         1
25757  41   1       190     165     160    60     1            1     0      0     0       1         1
26619  40   1       178     152     140    90     2            2     0      0     1       0         1
26630  50   0       168     168     110    70     1            1     0      0     1       1         1
27063  42   0       155     163     180    100    1            1     0      0     1       1         1
27962  64   0       162     162     150    90     1            1     0      0     1       1         1
28605  54   0       112     167     180    120    1            1     0      1     1       0         1
28683  57   1       165     178     120    80     1            1     1      1     1       0         1
30845  56   0       168     166     150    90     3            3     0      0     1       1         1
34186  52   0       81      156     140    90     1            1     0      0     1       0         1
98709  52   1       175     155     110    100    1            1     0      0     1       1         1
Name: count, dtype: int64

In [942]:
df[df["weight"]<150]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,1,168,62,110,80,1,1,0,0,1,0
1,1,55,0,156,85,140,90,3,1,0,0,1,1
2,2,52,0,165,64,130,70,3,1,0,0,0,1
3,3,48,1,169,82,150,100,1,1,0,0,1,1
4,4,48,0,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0
69996,99995,62,0,158,126,140,90,2,2,0,0,1,1
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0

In [865]:
df[df["ap_hi"]<df["ap_lo"]].value_counts()

Series([], Name: count, dtype: int64)

In [943]:
df[df["ap_hi"]>df["ap_lo"]]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,1,168,62,110,80,1,1,0,0,1,0
1,1,55,0,156,85,140,90,3,1,0,0,1,1
2,2,52,0,165,64,130,70,3,1,0,0,0,1
3,3,48,1,169,82,150,100,1,1,0,0,1,1
4,4,48,0,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0
69996,99995,62,0,158,126,140,90,2,2,0,0,1,1
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0

In [866]:
df[df["ap_hi"]>300].value_counts()

Series([], Name: count, dtype: int64)

In [922]:
df["ap_hi"].max()

240

In [1141]:
df= df[(df['ap_lo']<300) & (df['ap_hi']<300)]
df= df[(df['ap_lo']>20) & (df['ap_hi']>20)]
df=df[df['ap_hi']>df['ap_lo']]
df = df[(df['height']<250) & (df['weight']<160)]
df=df[(df["ap_hi"]<=300) & (df["height"]>=100) & (df["weight"]>=35) & (df["ap_hi"]>=df["ap_lo"]) & (df["ap_hi"]>=0) & (df["ap_lo"]>=0)]

In [1142]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,1,168,62,110,80,1,1,0,0,1,0
1,1,55,0,156,85,140,90,3,1,0,0,1,1
2,2,52,0,165,64,130,70,3,1,0,0,0,1
3,3,48,1,169,82,150,100,1,1,0,0,1,1
4,4,48,0,156,56,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0
69996,99995,62,0,158,126,140,90,2,2,0,0,1,1
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0

In [1143]:
df=df[(df["ap_hi"]<=300) & (df["height"]>=100) & (df["weight"]>=35) & (df["ap_hi"]>=df["ap_lo"]) & (df["ap_hi"]>=0) & (df["ap_lo"]>=0)]

In [1144]:
df["bmi"] = df["weight"] / (df["height"]/100)**2

In [1145]:
df['map']=df['ap_lo']+(df['ap_hi']-df['ap_lo'])/3

In [1146]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,map
0,0,50,1,168,62,110,80,1,1,0,0,1,0,21.967120,90.000000
1,1,55,0,156,85,140,90,3,1,0,0,1,1,34.927679,106.666667
2,2,52,0,165,64,130,70,3,1,0,0,0,1,23.507805,90.000000
3,3,48,1,169,82,150,100,1,1,0,0,1,1,28.710479,116.666667
4,4,48,0,156,56,100,60,1,1,0,0,0,0,23.011177,73.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,53,1,168,76,120,80,1,1,1,0,1,0,26.927438,93.333333
69996,99995,62,0,158,126,140,90,2,2,0,0,1,1,50.472681,106.666667
69997,99996,52,1,183,105,180,90,3,1,0,1,0,1,31.353579,120.000000
69998,99998,61,0,163,72,135,80,1,2,0,0,0,1,27.099251,98.333333
69999,99999,56,0,170,72,120,80,2,1,0,0,1,0,24.913495,93.333333

In [168]:
from scipy.stats import jarque_bera

In [356]:
result = jarque_bera(df)

test_statistic = result[0]
p_value = result[1]

print(f"Jarque-Bera test statistic: {test_statistic}")
print(f"p-value: {p_value}")

Jarque-Bera test statistic: 15589444.59216667
p-value: 0.0

In [1147]:
del df['id']

In [836]:
#del df['gender']

In [1148]:
del df['alco']

In [926]:
#del df['gluc']

In [949]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,bmi,map
0,50,1,168,62,110,80,1,1,0,0,1,0,21.967120,90.000000
1,55,0,156,85,140,90,3,1,0,0,1,1,34.927679,106.666667
2,52,0,165,64,130,70,3,1,0,0,0,1,23.507805,90.000000
3,48,1,169,82,150,100,1,1,0,0,1,1,28.710479,116.666667
4,48,0,156,56,100,60,1,1,0,0,0,0,23.011177,73.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,53,1,168,76,120,80,1,1,1,0,1,0,26.927438,93.333333
69996,62,0,158,126,140,90,2,2,0,0,1,1,50.472681,106.666667
69997,52,1,183,105,180,90,3,1,0,1,0,1,31.353579,120.000000
69998,61,0,163,72,135,80,1,2,0,0,0,1,27.099251,98.333333
69999,56,0,170,72,120,80,2,1,0,0,1,0,24.913495,93.333333

In [1021]:
df.to_csv("mini3.csv",index=False)

In [191]:
df['weight'].value_counts()

weight
65    3713
70    3633
68    2745
75    2643
60    2635
      ...
36       4
34       3
35       3
32       3
33       1
Name: count, Length: 86, dtype: int64

In [359]:
df[df['weight']==33]

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
48080,68667,53,0,143,33,100,60,1,1,0,0,1,0

In [951]:
df['weight'].min()

11

In [1149]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
from sklearn import metrics 
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn.metrics import f1_score

In [1044]:
dx = df.copy()
for c in  ['age','height','weight','ap_hi','ap_lo']:
    df = dx[ dx[c] == dx[c].mode()[0]  ]

In [813]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,active,cardio,bmi,map
0,50,1,168,62,110,80,1,0,1,0,21.967120,90.000000
1,55,0,156,85,140,90,3,0,1,1,34.927679,106.666667
2,52,0,165,64,130,70,3,0,0,1,23.507805,90.000000
3,48,1,169,82,150,100,1,0,1,1,28.710479,116.666667
4,48,0,156,56,100,60,1,0,0,0,23.011177,73.333333
...,...,...,...,...,...,...,...,...,...,...,...,...
69994,58,0,165,80,150,80,1,0,1,1,29.384757,103.333333
69995,53,1,168,76,120,80,1,1,1,0,26.927438,93.333333
69997,52,1,183,105,180,90,3,0,0,1,31.353579,120.000000
69998,61,0,163,72,135,80,1,0,0,1,27.099251,98.333333
69999,56,0,170,72,120,80,2,0,1,0,24.913495,93.333333

In [1150]:
scaler = MinMaxScaler()
scaler.fit(df[ ['age','height','weight','ap_hi','ap_lo','bmi','map'] ])
df[ ['age','height','weight','ap_hi','ap_lo',"bmi",'map'] ] = (scaler.transform(df[ ['age','height','weight','ap_hi','ap_lo','bmi','map'] ]))

In [1151]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,active,cardio,bmi,map
0,0.571429,1,0.635514,0.217742,0.277778,0.328947,1,1,0,1,0,0.072079,0.309524
1,0.714286,0,0.523364,0.403226,0.444444,0.394737,3,1,0,1,1,0.168261,0.428571
2,0.628571,0,0.607477,0.233871,0.388889,0.263158,3,1,0,0,1,0.083513,0.309524
3,0.514286,1,0.644860,0.379032,0.500000,0.460526,1,1,0,1,1,0.122123,0.500000
4,0.514286,0,0.523364,0.169355,0.222222,0.197368,1,1,0,0,0,0.079827,0.190476
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,0.657143,1,0.635514,0.330645,0.333333,0.328947,1,1,1,1,0,0.108890,0.333333
69996,0.914286,0,0.542056,0.733871,0.444444,0.394737,2,2,0,1,1,0.283623,0.428571
69997,0.628571,1,0.775701,0.564516,0.666667,0.394737,3,1,0,0,1,0.141737,0.523810
69998,0.885714,0,0.588785,0.298387,0.416667,0.328947,1,2,0,0,1,0.110165,0.369048
69999,0.742857,0,0.654206,0.298387,0.333333,0.328947,2,1,0,1,0,0.093945,0.333333

In [1152]:
df.corr()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,active,cardio,bmi,map
age,1.000000,-0.023090,-0.084209,0.056997,0.209967,0.156622,0.155293,0.098865,-0.047810,-0.010281,0.239243,0.102654,0.195008
gender,-0.023090,1.000000,0.512766,0.157174,0.062160,0.067286,-0.036997,-0.021321,0.338944,0.005927,0.007100,-0.110993,0.069666
height,-0.084209,0.512766,1.000000,0.304706,0.018274,0.036141,-0.054504,-0.020696,0.193807,-0.008739,-0.012586,-0.224174,0.029814
weight,0.056997,0.157174,0.304706,1.000000,0.272689,0.254489,0.142502,0.107549,0.067839,-0.018845,0.181374,0.851683,0.282404
ap_hi,0.209967,0.062160,0.018274,0.272689,1.000000,0.733791,0.195418,0.094169,0.027726,-0.001177,0.427990,0.266310,0.921825
ap_lo,0.156622,0.067286,0.036141,0.254489,0.733791,1.000000,0.161337,0.074735,0.025131,-0.000804,0.339573,0.238412,0.939757
cholesterol,0.155293,-0.036997,-0.054504,0.142502,0.195418,0.161337,1.000000,0.450352,0.009960,0.008415,0.221280,0.171366,0.190378
gluc,0.098865,-0.021321,-0.020696,0.107549,0.094169,0.074735,0.450352,1.000000,-0.005763,-0.008026,0.089403,0.118381,0.090022
smoke,-0.047810,0.338944,0.193807,0.067839,0.027726,0.025131,0.009960,-0.005763,1.000000,0.025249,-0.016322,-0.033866,0.028289
active,-0.010281,0.005927,-0.008739,-0.018845,-0.001177,-0.000804,0.008415,-0.008026,0.025249,1.000000,-0.037733,-0.015453,-0.001051
cardio,0.239243,0.007100,-0.012586,0.181374,0.427990,0.339573,0.221280,0.089403,-0.016322,-0.037733,1.000000,0.189564,0.409091
bmi,0.102654,-0.110993,-0.224174,0.851683,0.266310,0.238412,0.171366,0.118381,-0.033866,-0.015453,0.189564,1.000000,0.270022
map,0.195008,0.069666,0.029814,0.282404,0.921825,0.939757,0.190378,0.090022,0.028289,-0.001051,0.409091,0.270022,1.000000

In [1153]:
df = df.sample(frac = 1.0)

In [1154]:
df

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,active,cardio,bmi,map
599,0.971429,0,0.514019,0.241935,0.333333,0.328947,3,1,0,1,1,0.109838,0.333333
68283,0.742857,1,0.663551,0.435484,0.333333,0.328947,1,1,0,1,0,0.134933,0.333333
58890,0.628571,1,0.700935,0.483871,0.333333,0.328947,1,2,1,1,0,0.139265,0.333333
26085,0.571429,0,0.616822,0.330645,0.444444,0.394737,1,1,0,1,1,0.113735,0.428571
41632,0.771429,0,0.560748,0.403226,0.333333,0.328947,1,1,0,1,1,0.155463,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32203,0.314286,0,0.635514,0.508065,0.333333,0.328947,1,1,0,1,0,0.166737,0.333333
24831,0.628571,0,0.560748,0.282258,0.388889,0.394737,1,1,0,1,1,0.111980,0.404762
45852,0.685714,0,0.598131,0.233871,0.444444,0.460526,1,1,0,1,1,0.085647,0.476190
21817,0.914286,0,0.700935,0.604839,0.444444,0.394737,3,3,0,0,1,0.175613,0.428571
18230,0.914286,1,0.728972,0.250000,0.500000,0.131579,3,1,0,1,1,0.063646,0.261905

In [1160]:
target="cardio"
limit = int(len(df) * 0.60)
train = df[:limit]
test = df[limit:]
train_y = train[target]
test_y = test[target]
del train[target]
del test[target]

In [1161]:
clf = tree.DecisionTreeClassifier(max_depth=5)
clf = clf.fit(train,train_y)

In [1162]:
print("Accuracy:",metrics.accuracy_score(test_y,clf.predict(test)))
print('accure_train' , metrics.accuracy_score(train_y , clf.predict(train)))
print("f1 score:",metrics.f1_score(test_y, clf.predict(test)))

Accuracy: 0.7283064251612668
accure_train 0.732390601841728
f1 score: 0.6968896117096972

In [1159]:
clf = tree.DecisionTreeClassifier(max_depth=5) 
clf.fit( train, train_y )
y_pred = clf.predict( test )
correct = test_y == y_pred
test['REAL'] = test_y
test['PRED'] = y_pred
test['CORRECT'] = test['PRED'] == test['REAL']
test['TP'] = (test['PRED'] == 1) & (test['REAL'] == 1)
test['TN'] = (test['PRED'] == 0) & (test['REAL'] == 0)
test['FP'] = (test['PRED'] == 1) & (test['REAL'] == 0)
test['FN'] = (test['PRED'] == 0) & (test['REAL'] == 1)

for c in ['CORRECT','TP','TN','FP','FN']:
    test[c] = test[c].astype(int)
fn = test['FN'].mean() * 20
fp = test['FP'].mean() * 3
tp = test['TP'].mean() * 15
tn = test['TN'].mean() * 20

TP = sum(1 for true_label, predicted_label in zip(test['REAL'], test['PRED']) if true_label == predicted_label)
TI = len(test['REAL'])
test_accuracy = TP / TI
test_accuracy_percentage = test_accuracy * 100

print("Test Accuracy:", test_accuracy)
weighted_accuracy = (tp + tn) / ( fn+fp+tp+tn )
recall=tp/(tp+fn)
Specificity=tn/(tn+fp)
Precision=tp/(tp+fp)
f1_score=2*recall*Precision/(recall+Precision)
print(weighted_accuracy)
print(f1_score)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- CORRECT
- FN
- FP
- PRED
- REAL
- ...

In [1121]:
target_name = 'cardio'
data_target = df[target_name]
df = df.drop([target_name], axis=1)
train, test, target, target_test = train_test_split(df, data_target, test_size=0.2, random_state=0)

In [1122]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(train, target)
acc_decision_tree = round(decision_tree.score(train, target) * 100, 2)
acc_decision_tree

97.61

In [1123]:
acc_test_decision_tree = round(decision_tree.score(test, target_test) * 100, 2)
acc_test_decision_tree

63.67

In [1087]:
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
random_forest = GridSearchCV(estimator=RandomForestClassifier(), param_grid={'n_estimators': [100, 300]}, cv=5).fit(train, target)
random_forest.fit(train, target)
acc_random_forest = round(random_forest.score(train, target) * 100, 2)
print(acc_random_forest,random_forest.best_params_)

100.0 {'n_estimators': 300}

In [572]:
acc_test_random_forest = round(random_forest.score(test, target_test) * 100, 2)
acc_test_random_forest

71.03